<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.wms.mapper.base.GoodsTypeMapper">

    <select id="page" resultType="com.itheima.wms.model.entity.base.GoodsType">
        select *
        from wms_goods_type wgt
        <where>
            <if test="like_name != null">and wgt.name like concat('%',#{like_name},'%')</if>
            <if test="like_code != null">and wgt.code like concat('%',#{like_code},'%')</if>
            <if test="params != null">or wgt.name like concat('%',#{params},'%')</if>
            <if test="params != null">or wgt.code like concat('%',#{params},'%')</if>
        </where>
        order by wgt.update_time desc
    </select>

    <insert id="save">
        insert into wms_goods_type(code, name, status, remark, create_name, update_name, create_time, update_time)
        values (#{code}, #{name}, #{status}, #{remark}, #{createName}, #{updateName}, #{createTime}, #{updateTime})
    </insert>

    <update id="updateById">
        update wms_goods
        <set>
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateName != null">update_name = #{updateName},</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
        where id = #{id}
    </update>

</mapper>
