<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.wms.mapper.biz.HandoverMapper">

    <select id="pageDetail" resultType="com.itheima.wms.model.vo.biz.HandoverDetailVO">
        select wh.*,wc.name as carrierName,wc.code as carrierCode from wms_handover wh
        left join wms_carrier wc on wh.carrier_id = wc.id
        <where>
            <if test="params.carrierName != null">
                and wc.name like concat('%',#{params.carrierName},'%')
            </if>
            <if test="params.status != null">
                and wh.status = #{params.status}
            </if>
            <if test="params.code != null">
                and wh.code like concat('%',#{params.code},'%')
            </if>
            <if test="params.outboundCode != null">
                and wh.outbound_code like concat('%',#{params.outboundCode},'%')
            </if>
        </where>
        order by wh.create_time desc
    </select>

    <insert id="save">
        insert into wms_handover(master_id, code, outbound_code, delivery_type, carrier_id, bill_code, handover_name,
                                 completion_time, driver_name, driver_phone, status, remark, create_name,
                                 update_name, create_time, update_time)
        values (#{masterId}, #{code}, #{outboundCode}, #{deliveryType}, #{carrierId},
                #{billCode}, #{handoverName}, #{completionTime}, #{driverName}, #{driverPhone},
                #{status}, #{remark}, #{createName}, #{updateName}, #{createTime},
                #{updateTime})
    </insert>

    <update id="updateById">
        update wms_handover
        <set>
            <if test="masterId != null">master_id = #{masterId},</if>
            <if test="code != null">code = #{code},</if>
            <if test="outboundCode != null">outbound_code = #{outboundCode},</if>
            <if test="deliveryType != null">delivery_type = #{deliveryType},</if>
            <if test="carrierId != null">carrier_id = #{carrierId},</if>
            <if test="billCode != null">bill_code = #{billCode},</if>
            <if test="handoverName != null">handover_name = #{handoverName},</if>
            <if test="completionTime != null">completion_time = #{completionTime},</if>
            <if test="driverName != null">driver_name = #{driverName},</if>
            <if test="driverPhone != null">driver_phone = #{driverPhone},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateName != null">update_name = #{updateName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id=#{id}
    </update>

</mapper>
