<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.wms.mapper.biz.ReceivingMapper">

    <select id="pageDetail" resultType="com.itheima.wms.model.vo.biz.ReceivingDetailVO">
        select wr.*,
        wo.name ownerName,
        wo.code ownerCode,
        ww.name warehouseName,
        wa.name areaName
        from wms_receiving wr
        left join wms_owner wo on wr.owner_id = wo.id
        left join wms_warehouse ww on wr.warehouse_id = ww.id
        left join wms_area wa on wr.area_id = wa.id
        <where>
            <if test="ownerName != null">
                and wo.name like concat('%',#{ownerName},'%')
            </if>
            <if test="status != null">
                and wr.status = #{status}
            </if>
            <if test="code != null">
                and wr.code like concat('%',#{code},'%')
            </if>
        </where>
        order by wr.update_time desc
    </select>


    <insert id="insert">
        insert into wms_receiving (master_id, code, receipt_code, owner_id, warehouse_id, area_id, plan_num,
                                   receiver_name, real_num, difference_num, completion_time, status, remark,
                                   create_name, update_name, create_time, update_time)
        values (#{masterId}, #{code}, #{receiptCode}, #{ownerId}, #{warehouseId},
                #{areaId}, #{planNum}, #{receiverName}, #{realNum}, #{differenceNum},
                #{completionTime}, #{status}, #{remark}, #{createName}, #{updateName},
                #{createTime}, #{updateTime});
    </insert>

    <update id="updateById">
        update wms_receiving
        <set>
            <if test="masterId != null">master_id = #{masterId},</if>
            <if test="code != null">code = #{code},</if>
            <if test="receiptCode != null">receipt_code = #{receiptCode},</if>
            <if test="ownerId != null">owner_id = #{ownerId},</if>
            <if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
            <if test="areaId != null">area_id = #{areaId},</if>
            <if test="planNum != null">plan_num = #{planNum},</if>
            <if test="receiverName != null">receiver_name = #{receiverName},</if>
            <if test="realNum != null">real_num = #{realNum},</if>
            <if test="differenceNum != null">difference_num = #{differenceNum},</if>
            <if test="completionTime != null">completion_time = #{completionTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateName != null">update_name = #{updateName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id=#{id}
    </update>

</mapper>
